:root {
    --color-dark-rgb: 0, 0, 0;
    --color-dark: rgba(var(--color-dark-rgb), 1);
    --color-light-rgb: 245, 247, 250;
    --color-light: rgba(var(--color-light-rgb), 1);
    --color-white-rgb: 255, 255, 255;
    --color-white: rgba(var(--color-white-rgb), 1);
    --color-black-rgb: 0, 0, 0;
    --color-black: rgba(var(--color-black-rgb), 1);
    --color-primary: #fe4f31;
    --color-secondary: #ffe600;
    --color-gray: #c1c3c7;
    --color-lightgray: #e6e8eb;
    --color-border-rgb: 159, 161, 163;
    --color-border: rgba(var(--color-border-rgb), 0.225);
    --color-border-600: rgba(var(--color-border-rgb), 0.35);
    --color-border-800: rgba(var(--color-border-rgb), 0.45);
    --color-border-900: rgba(var(--color-border-rgb), 1);
    --color-border-light: var(--color-border-light);
    --color-text: rgba(var(--color-dark-rgb), 0.7);
    --color-text-light: rgba(var(--color-light-rgb), 0.7);
    --color-alert-error: var(--color-primary);
    --color-alert-success: #46d054;
    --animation-primary: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
    --animation-fast: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
    --animation-smooth: 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    --animation-navigation: 1.2s cubic-bezier(0.75, 0, 0.25, 1);
    /* --animation-navigation: 0.6s cubic-bezier(.6, 0, .4, 1); */
    --animation-navigation-forward: 1s cubic-bezier(0.8, 0, 0.1, 1);
    --animation-navigation-backward: 0.6s cubic-bezier(0.8, 0, 0.1, 1);
    --animation-navigation-fade: 0.3s ease-in-out;
    --section-padding: min(9vw, 9em);
    --container-padding: var(--col-gap);
    --row-padding: clamp(2em, 4vw, 4em);
    --col-padding: clamp(2em, 4vw, 4em);
    --row-gap: max(1.75em, 1.75vw);
    --col-gap: max(1.75em, 1.75vw);
    --title-size: max(5em, 7.5vw);
    --border-radius: 0.35em;
    --main-navigation-height: 4.6em;
    --single-grid-col: calc((99.99vw - (var(--col-gap) * 2)) / 4);
  }

  .grid {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 var(--col-gap);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    transition: opacity var(--animation-navigation-backward);
  }

  .grid .grid-line {
    width: 1px;
    flex-shrink: 0;
    flex-grow: 0;
    background: var(--color-border);
    z-index: 1;
  }